* {
  box-sizing: border-box;
}
.header {
  width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1%;
}

.menuList {
  flex: 0 1 20%;
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.menuItem {
  flex: 1 0 5%;
  margin: 0 10%;
  font-size: 15px;
  font-style: none;
}

.logoContainer {
  flex: 0 1 20%;
}

.logoContainer img {
  width: 40%;
}
